.spx {
    user-select: none;
}

.spx:focus {
    outline: none;
}

.spx__cell {
    /*border: 0.01px solid lightgray;*/
    text-align: right;
}

.spx__cell-editor input {
    padding: 0;
    height: auto;
    width: 100%;
    text-align: right;
}

.spx__head-cell {
    background-color: #ccf;
    border: solid 1px gray;
}

.spx__row-head-cell {
    border: solid 1px gray;
    background-color: #ccf;
}

.spx__super-head-cell {
    border: solid 1px gray;
    background-color: lightgray;
}